* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

html, body {
	height: 100%;
	background: url('../img/background.jpg') no-repeat;
	background-size: cover;
}

.background {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.autentification {
	background: #fff;
	width: 600px;
}
/*=====================authorization_top=========================*/
.login_top {
	display: flex;
	background: #0e1a35;
	color: #fff;
	height: 100%;
	padding-left: 30px;
}

.login__title {
	font-weight: 700;
	font-size: 40px;
	padding: 5px 0;
}

.login__title span {
	color: #5584ff;
}

.tabs {
	width: 100%;
	min-height: 100%;
	display: flex;
	justify-content: flex-end;
}

.tabs a {
	text-decoration: none;
	color: #fff;
	display: flex;
	font-size: 15px;
	font-weight: 500;
}

.header-tab {
	display: flex;
	align-items: center;
	font-weight: 500;
	padding: 0 10px;
}

.inactive-tab {
	padding-bottom: 5px;
}

.inactive-tab:hover {
	background: #1c2d53;
	border-bottom: 5px solid #5584ff;
	padding-bottom: 0px;
}

.active-tab {
	background: #1c2d53;
	border-bottom: 5px solid #5584ff;
}
/*=====================main_content======================*/
form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 400px;
}

.login_title {
	font-weight: 300;
	text-align: center;
	color: #8492af;
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 0;
}

.login_title span {
	color: #5384ff;
}

.input-wrap {
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #d4d9e3;
	max-width: 250px;
	margin-bottom: 15px;
}

i {
	margin-left: -5px;
	cursor: pointer;
}

.far {
	margin-left: -10px;
}

input {
	border: none;
	outline: none;
	font-size: 20px;
}

.enter {
	padding: 5px 15px;
	border-radius: 15px;
	background: #5584ff;
	text-decoration: none;
	font-size: 18px;
	color: #fff;
	font-weight: 700;
	cursor: pointer;
}

.enter:hover {
	background: #739aff;
}

.disable {
	cursor: unset;
	background: gray;
}

.disable:hover {
	background: gray;
}
