.user-modal.active {
    opacity: 1;
    z-index: 1;
}

.user-modal__wrap.active {
    transform: translateY(0px);
}

/*form==============================================================*/
.user-modal .input-wrap {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d4d9e3;
    max-width: 250px;
    margin-bottom: 15px;
}

.change-avatar {
    margin-bottom: 20px;
}