.left-tasks {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

/*create task==========================================*/
.create-task {
    margin-bottom: 20px;
}

.create-task .card-content{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.input-wrap {
    margin-bottom: 15px;
    max-width: none;
}

.input-wrap input {
    text-align: start;
    font-size: 20px;
}

.create-task__button {
    padding: 5px 15px;
    border-radius: 15px;
    background: #5584ff;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.create-task__button:hover {
    background: #739aff;
}

/*select-project=========================================*/
.select-project {
    max-height: 580px;
}

.tasks {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.card-content, .card-item, .card-item__right {
    min-width: 250px;
    width: 100%;
}

.card-item__right {
    display: flex;
    flex-direction: column;
}

.card-item__left-header {
    display: flex;
}

.task-name {
    font-weight: bold;
}

.task-owner {
    color: #8492af;
    margin-left: 10px;
}

.card-item__left-footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.task-text {
    max-width: 250px;
}

.take-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #5584ff;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    margin: 0 0 5px 10px;
}

.complete {
    background-color: #00fc00;
}

.taken-tasks, .done-tasks {
    border-left: 1px solid #000;
}